# Data Contract - Silver {{ table_name }}
dataset: postgres_datawarehouse/datawarehouse/silver/{{ entity_snake }}

checks:
  - row_count:
      name: Table is not empty
      threshold:
        must_be_greater_than: 0
  - freshness:
      name: Recent data
      column: updated_at
      threshold:
        unit: hour
        must_be_less_than: 48

columns:
  - name: id
    checks:
      - duplicate:
          name: No duplicate IDs
  - name: entity_id
    checks:
      - missing:
          name: Entity ID never null
          threshold:
            must_be: 0
  - name: value
    checks:
      - aggregate:
          name: Value is not negative
          function: min
          threshold:
            must_be_greater_than_or_equal: 0
