{% if use_spark %}
from {{ name_snake }}.transformations.{{ entity_snake }} import (
    get_jdbc_url_and_properties,
    run_silver_{{ entity_snake }}_transformation,
)


def silver_transformation_data_{{ entity_snake }}():
    jdbc_url, db_properties = get_jdbc_url_and_properties()
    run_silver_{{ entity_snake }}_transformation(jdbc_url, db_properties)
{% else %}
from {{ name_snake }}.transformations.{{ entity_snake }} import run_silver_{{ entity_snake }}_transformation


def silver_transformation_data_{{ entity_snake }}():
    run_silver_{{ entity_snake }}_transformation()
{% endif %}
